/*----------------
    RESET
----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------
    CONTENITORE
----------------*/
.container {
    max-width: 1170px;
    margin: auto;
}

/*----------------
    RIGHE
----------------*/
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

