/*-----------------
    DEBUG
------------------*/
main {
    background-color: black;
    height: 900px;
}

/*-----------------
    TYPO
------------------*/
body {
    color: #0072e1;
    font-family: 'Roboto', sans-serif;
}

i {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-left p, .header-right nav {
    font-weight: bold;
    font-size: 12px;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

@media screen and (min-width: 575px) {
    h1 {
        font-size: 40px;
        text-transform: uppercase;
        color: white;
    }

    .header-left p, .header-right nav {
        font-weight: bold;
        font-size: 13px;
    }
  
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 50px;
        text-transform: uppercase;
        color: white;
    }

    .header-left p, .header-right nav {
        font-weight: bold;
        font-size: 18px;
    }
}
/*-----------------
    HEADER
------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.header-left, .header-right{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.header-right {
    justify-content: flex-end;
}

.header-left img {
    height: 60px;
    z-index: 2;
    margin-right: 20px;
}
.header-right nav {
    display: none;
}

.header-right .main-nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-right .main-nav {
    list-style: none;
}

.header-right a {
    display: inline-block;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.header-right i, {
    margin-left: 20px;
}

@media screen and (min-width: 575px) {
    .header-right nav {
        display: inline-block;
    }
    .header-right i {
        display: none;
    }
}

/*-----------------
    SECTION HERO
------------------*/
.hero {
    margin-top: 60px;
    background-image: url(../img/hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(211, 211, 211, 0.5);
}

.hero .container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

